<section id="todoapp">
    <div id="section-list">
        <ul id="list-list">
            <li ng-repeat="list in todoLists">
                <div class="view">
                    <a ng-click="setCurrent(list)" ng-class="{ active: isActiveList(list.id)}" href="#/{{list.id}}">{{list.title}}</a>
                    <button class="edit-list" ng-click="editList(list)"></button>
                    <button class="destroy" ng-click="removeList(list)"></button>
                </div>
            </li>
        </ul>
        <footer id="footer-list">
            <a href="" ng-click="addList()">Create list</a>
        </footer>
    </div>
    <div id="section-todo">
        <header id="header">
            <h1>todos</h1>
            <form  ng-show="currentList" ng-cloak id="todo-form" ng-submit="addTodo()">
                <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" ng-disabled="saving" autofocus>
            </form>
        </header>
        <section id="main" ng-show="currentList.todos.length" ng-cloak>
            <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
            <label for="toggle-all">Mark all as complete</label>
            <ul id="todo-list">
                <li ng-repeat="todo in currentList.todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                    <div class="view">
                        <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
                        <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
                        <button class="destroy" ng-click="removeTodo(todo)"></button>
                    </div>
                    <form ng-submit="saveEdits(todo, 'submit')">
                        <input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')"
                               todo-focus="todo == editedTodo">
                    </form>
                </li>
            </ul>
        </section>
        <footer id="footer" ng-show="currentList.todos.length" ng-cloak>
            <div class="filters-block">
                            <span id="todo-count"><strong>{{remainingCount}}</strong>
                                <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
                            </span>
                <ul id="filters">
                    <li>
                        <a ng-class="{selected: status == ''} " href="#/{{currentList.id}}">All</a>
                    </li>
                    <li>
                        <a ng-class="{selected: status == 'active'}" href="#/{{currentList.id}}/active">Active</a>
                    </li>
                    <li>
                        <a ng-class="{selected: status == 'completed'}" href="#/{{currentList.id}}/completed">Completed</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
    <div class="clear"></div>
</section>
<footer id="info">
    <p>Double-click to edit a todo</p>
    <p>Credits:
        <a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
        <a href="http://ericbidelman.com">Eric Bidelman</a>,
        <a href="http://jacobmumm.com">Jacob Mumm</a> and
        <a href="http://blog.igorminar.com">Igor Minar</a>
    </p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>

<script type="text/ng-template" id="add-list.html">
    <div class="ngdialog-message">
        <h3>Add/edit list</h3>
        <input type="text" ng-model="newList"/><br>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(newList)">Save</button>
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Cancel</button>
    </div>
</script>
